*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

}
div{
	background-color: #A89E9C;
	border: 1px solid black;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}
p{
	margin-bottom:  10px;
}

#p1{
	background-color: #F0BFB5;
	text-align: center;
	border: 1px solid black;
	width: 33.35%;
	margin-top: -10px;
	margin-left: +10px;
	position:  relative;
	left: 66.66%;
	padding: 5px;
}
#p2{
	background-color: #E17964;
	text-align: center;
	color: white;
	border: 1px solid black;
	width: 33.35%;
	margin-top: -10px;
	margin-left: +10px;
	position:  relative;
	left: 66.66%;
	padding: 5px;
}
#p3{
	background-color: #E1C264;
	text-align: center;
	border: 1px solid black;
	width: 33.35%;
	margin-top: -10px;
	margin-left: +10px;
	position:  relative;
	left: 66.66%;
	padding: 5px;
}

.col-md-6, .col-md-12, .col-lg-4{
	padding: 10px;
	margin-bottom: 10px;

}
.row{
	background-color: white;
	border: none;
	padding: 10px;

}


/***Large Devices***/

@media (min-width: 992px){
	.col-lg-4{
		width: 33%;
		float: left;
	}
}

/***Medium Devices***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
